#plus, #java, #sharp {
    display: none;
}

.container {
    text-align: center; 
}

.jumbotron {
    background-color: rgb(178, 223)83, 1;
    color: white;
    background-image: url(../img/title.jpg);
    font-family: monospace;
    text-align: center
}

.question {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;

}

.answer {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300px;
    font-size: 18px;
}

h2 {
    margin-bottom: 5%;
    font-size: 68px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
    /* margin-top: 5%; */
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

