#plus, #java, #sharp {
    display: none;
}

.jumbotron {
    background-color: rgb(178, 223)83, 1;
    color: white;
    background-image: url(../img/title.jpg);
    font-family: monospace;
    text-align: center
}

.question {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;

}

.answer {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300px;
}

.radio

